@import "colors";
@import "spacings";
@import "typography";
@import "base";
@import "mixins";

header {
  background-color: $black;
  width: 100%;
  min-height: $sectionSpacing;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid $veryDarkGrey;
  padding: 0 $containerSpacing;

  .nav-link {
    transition: 0.5s ease;

    &:hover {
      color: $alpha;
    }
  }

  .bar {
    display: block;
    width: $marginSpacing;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $white;
  }

  .hamburger {
    display: block;
    cursor: pointer;

    &.active .bar:nth-child(1) {
      transform: translateY($smallSpacing) rotate(45deg);
      background-color: $alpha;
    }
    &.active .bar:nth-child(2) {
      opacity: 0;
      transition: 1.5s ease-in-out;
      transform: translateX(20px);
    }
    &.active .bar:nth-child(3) {
      transform: translateY(-$smallSpacing) rotate(-45deg);
      background-color: $alpha;
    }
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: $sectionSpacing;
    gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $black;
    width: 100%;
    height: calc(100vh - $sectionSpacing);
    text-align: center;
    transition: 0.5s;
    z-index: 2;
    //   gap: $xlSpacing;
  }

  .nav-item {
    margin: $mediumSpacing 0;
  }
  .nav-menu.active {
    left: 0;
  }

  .logo {
    max-width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;

    &-img {
      width: 60%;
    }
  }

  .cart {
    background-color: transparent;
    border: none;
    color: $white;
    padding: 0;

    &:hover {
      color: $alpha;
      cursor: pointer;
      transition: 0.5s ease;
    }
  }
}

.hero {
  background-image: url("../images/bg-image.png");
  background-position: top;
  background-size: cover;
  height: calc(100vh - $sectionSpacing);
  width: 100%;
  position: relative;

  .new-product {
    position: absolute;
    height: 300px;
    text-align: center;
    top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: calc(100% - 2 * $containerSpacing);

    h1 {
      color: $white;
      font-family: "Montagu Slab", serif;
      font-weight: 500;
      font-size: $largeSpacing;
    }

    h3 {
      color: $darkGrey;
      font-family: "Nunito Sans", sans-serif;
      font-size: $marginSpacing;
      letter-spacing: $smallSpacing;
    }

    p {
      width: 350px;
    }
  }

  .see-product {
    background-color: $alpha;
    border: none;
    border-radius: $smallSpacing;
    color: $white;
    position: absolute;
    bottom: $sectionSpacing;
    left: 50%;
    transform: translateX(-50%);
    @include see-product-details;

    &:hover {
      background-color: $alphahover;
      color: $white;
      transition: 0.5s ease;
    }
  }
}

.products {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: $largeSpacing;
  margin: 0;

  h3 {
    color: $black;
    font-family: "Nunito Sans", sans-serif;
    font-size: $baseSpacing;
    font-weight: bolder;
    margin-top: $marginSpacing;
  }

  .cameraBodies {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    height: $xxxlSpacing;
    position: relative;

    .product-img {
      width: 35%;
      background-color: transparent;
    }

    .shop {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $darkGrey;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin-bottom: $marginSpacing;

      .arrow {
        color: $alpha;
        font-size: 12px;
        font-weight: 500;
        padding: 0 $smallSpacing;
      }

      &:hover {
        color: $alpha;
        cursor: pointer;
        transition: 0.5s ease;
      }
    }

    .product-bgd {
      position: absolute;
      top: 25%;
      border-radius: $smallSpacing;
      height: 150px;
      background-color: $lightGrey;
      width: 100%;
      z-index: -1;
    }
  }

  .cameraLenses {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    height: $xxxlSpacing;
    margin-top: $baseSpacing;
    position: relative;

    .product-img {
      width: 35%;
      background-color: transparent;
    }

    .shop {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $darkGrey;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin-bottom: $marginSpacing;

      .arrow {
        color: $alpha;
        font-size: 12px;
        font-weight: 500;
        padding: 0 $smallSpacing;
      }

      &:hover {
        color: $alpha;
        cursor: pointer;
        transition: 0.5s ease;
      }
    }

    .product-bgd {
      position: absolute;
      top: 25%;
      border-radius: $smallSpacing;
      height: 150px;
      background-color: $lightGrey;
      width: 100%;
      z-index: -1;
    }
  }

  .accessories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: $xxxlSpacing;
    margin-top: $baseSpacing;
    position: relative;

    .product-img {
      width: 30%;
      background-color: transparent;
    }
    .shop {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $darkGrey;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin-bottom: $marginSpacing;

      .arrow {
        color: $alpha;
        font-size: 12px;
        font-weight: 500;
        padding: 0 $smallSpacing;
      }

      &:hover {
        color: $alpha;
        cursor: pointer;
        transition: 0.5s ease;
      }
    }

    .product-bgd {
      position: absolute;
      top: 25%;
      border-radius: $smallSpacing;
      height: 160px;
      background-color: $lightGrey;
      width: 100%;
      z-index: -1;
    }
  }
}

.product-GM-lens {
  background-color: $alpha;
  border-radius: $smallSpacing;
  background-image: url(../images/product-GM-lens.png);
  background-position: top;
  background-position-y: 7%;
  background-size: 250px 250px;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - (2 * $containerSpacing));
  margin-top: $sectionSpacing;
  position: relative;

  .bigCircle {
    position: absolute;
    top: 0;
    width: 350px;
    height: 350px;
    border: 1px solid white;
    border-radius: 50%;
    opacity: 0.3;
  }

  .smallCircle {
    position: absolute;
    top: 3%;
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 50%;
    opacity: 0.3;
  }

  .container {
    height: 55%;
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 $baseSpacing;

    h2 {
      color: $white;
      font-family: "Montagu Slab", serif;
      font-weight: 500;
      font-size: $mediumSpacing;
    }

    p {
      color: $white;
    }

    .see-product {
      background-color: $black;
      border: none;
      border-radius: $smallSpacing;
      color: $white;
      @include see-product-details;

      &:hover {
        background-color: $veryDarkGrey;
        color: $white;
        transition: 0.5s ease;
      }
    }
  }
}

.product-SSM-lens {
  background-color: $grey;
  background-image: url(/images//product-SSM-lens.jpg);
  background-position: right;
  background-repeat: no-repeat;
  height: 45vh;
  border-radius: $smallSpacing;
  background-size: contain;
  text-align: center;
  width: calc(100% - (2 * $containerSpacing));
  margin-top: $marginSpacing;
  position: relative;

  .container {
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: $mediumSpacing 0;
    position: absolute;
    top: 20%;
    left: 40%;

    h2 {
      color: $black;
      font-family: "Montagu Slab", serif;
      font-size: $fontSpacing;
    }
    .see-product {
      background-color: transparent;
      border: 2px solid $black;
      border-radius: $smallSpacing;
      color: $black;
      @include see-product-details;

      &:hover {
        background-color: $black;
        color: $white;
        transition: 0.5s ease;
      }
    }
  }
}

.product-flash {
  text-align: center;
  width: calc(100% - (2 * $containerSpacing));
  margin-top: $marginSpacing;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .flash-img {
    background-image: url(../images/product-flash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $smallSpacing;
    height: $xxxlSpacing;
  }

  .container {
    background-color: $lightGrey;
    border-radius: $smallSpacing;
    height: $xxxlSpacing;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h2 {
      color: $black;
      font-family: "Montagu Slab", serif;
      font-size: $fontSpacing;
    }

    .see-product {
      background-color: transparent;
      border: 2px solid $black;
      border-radius: $smallSpacing;
      color: $black;
      @include see-product-details;

      &:hover {
        background-color: $black;
        color: $white;
        transition: 0.5s ease;
      }
    }
  }
}

.about-alphacamera {
  height: 800px;
  margin-top: $sectionSpacing;
  padding-bottom: $largeSpacing;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .about-img {
    background-image: url(../images/about-alpha1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $smallSpacing;
    height: 40%;
    width: calc(100% - (2 * $containerSpacing));
  }

  .container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h3 {
      color: $black;
      font-family: "Nunito Sans", sans-serif;
      font-size: $fontSpacing;
    }

    p {
      color: $veryDarkGrey;
      margin: 0;
      padding: 0;
    }
  }
}

footer {
  padding: $mediumSpacing 0;
  background-color: $black;
  height: 100vh;
  position: relative;

  .logo {
    max-width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;

    &-img {
      width: 60%;
    }
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: $baseSpacing;
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: $mediumSpacing;
    text-transform: uppercase;
  }

  .nav-link {
    transition: 0.5s ease;

    &:hover {
      color: $alpha;
    }
  }

  .social {
    margin-top: $baseSpacing;
    width: 150px;
    display: flex;
    justify-content: space-between;

    .fa-brands:hover {
      transition: 1s ease;
      color: $alpha;
    }
  }
}
